<div class="text-lg transition-all duration-1000">
  <div
    class="m-2 p-2 w-10/12 duration-1000 transition-all translate-x-0 bg-neutral-100/5 rounded-lg overflow-hidden"
  >
    <h3 class="text-3xl m-5 showDown [text-shadow:_0_2px_5px_rgb(0_0_0_/_40%)]">
      Cadastrar paciente
    </h3>
  </div>

  <hr class="showUp mx-5 border-b border-black/20" />

  <form
    #f="ngForm"
    class="grid grid-cols-2 gap-x-12 mx-auto ms-10 my-8"
    [formGroup]="newPatientForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col justify-between items-center showRight">
      <!-- Name -->
      <div class="input-wrapper w-full">
        <label for="name" class="self-start ms-2">Nome completo</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="name"
          placeholder="Insira o nome do paciente"
          name="name"
          formControlName="name"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('name')?.touched ||
            newPatientForm.get('name')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('name')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('name')?.hasError('minlength')">
            Mínimo de 8 caracteres
          </div>
          <div *ngIf="newPatientForm.get('name')?.hasError('maxlength')">
            Máximo de 64 caracteres
          </div>
        </div>
      </div>

      <!-- Gender -->
      <div class="input-wrapper w-full">
        <label for="gender" class="self-start ms-2">Gênero</label>
        <select
          class="self-start w-11/12 p-1 rounded-md block"
          id="gender"
          name="gender"
          formControlName="gender"
        >
          <option value="" selected>Selecione uma opção</option>
          <option value="FEMALE">Feminino</option>
          <option value="MALE">Masculino</option>
          <option value="OTHER">Outro</option>
        </select>
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('gender')?.touched ||
            newPatientForm.get('gender')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('gender')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- Date of Birth -->
      <div class="input-wrapper w-full">
        <label for="dateOfBirth" class="self-start ms-2"
          >Data de Nascimento</label
        >
        <input
          type="date"
          class="self-start w-11/12 p-1 rounded-md block"
          id="dateOfBirth"
          placeholder="dd/mm/aaaa"
          name="dateOfBirth"
          formControlName="dateOfBirth"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('dateOfBirth')?.touched ||
            newPatientForm.get('dateOfBirth')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('dateOfBirth')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- CPF -->
      <div class="input-wrapper w-full">
        <label for="cpf" class="self-start ms-2 block">Cpf</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="cpf"
          placeholder="999.999.999-99"
          name="cpf"
          formControlName="cpf"
          [dropSpecialCharacters]="false"
          mask="000.000.000-00"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('cpf')?.touched ||
            newPatientForm.get('cpf')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('cpf')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('cpf')?.hasError('pattern')">
            CPF inválido
          </div>
        </div>
      </div>

      <!-- RG -->
      <div class="input-wrapper w-full">
        <label for="rgWithIssuingAuthority" class="self-start ms-2">Rg</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="rgWithIssuingAuthority"
          placeholder=""
          name="rgWithIssuingAuthority"
          formControlName="rgWithIssuingAuthority"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('rgWithIssuingAuthority')?.touched || newPatientForm.get('rg')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('rgWithIssuingAuthority')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('rgWithIssuingAuthority')?.hasError('maxlength')">
            Máximo de 20 caracteres
          </div>
        </div>
      </div>

      <!-- Marital Status -->
      <div class="input-wrapper w-full">
        <label for="maritalStatus" class="self-start ms-2">Estado civil</label>
        <select
          class="self-start w-11/12 p-1 rounded-md block"
          id="maritalStatus"
          name="maritalStatus"
          formControlName="maritalStatus"
        >
          <option value="" selected>Selecione uma opção</option>
          <option value="MARRIED">Casado(a)</option>
          <option value="DIVORCED">Divorciado(a)</option>
          <option value="SINGLE">Solteiro(a)</option>
          <option value="WIDOWED">Viúvo(a)</option>
        </select>
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('maritalStatus')?.touched ||
            newPatientForm.get('maritalStatus')?.dirty
          "
        >
          <div
            *ngIf="newPatientForm.get('maritalStatus')?.hasError('required')"
          >
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="input-wrapper w-full">
        <label for="phone" class="self-start ms-2">Telefone</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="phone"
          placeholder="(99) 99999-9999"
          mask="(00) 00000-0000"
          name="phone"
          [dropSpecialCharacters]="false"
          formControlName="phone"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('phone')?.touched ||
            newPatientForm.get('phone')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('phone')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('phone')?.hasError('pattern')">
            Formato inválido
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="input-wrapper w-full">
        <label for="email" class="self-start ms-2">Email</label>
        <input
          type="email"
          class="self-start w-11/12 p-1 rounded-md block"
          id="email"
          placeholder="Insira o email"
          name="email"
          formControlName="email"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('email')?.touched ||
            newPatientForm.get('email')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('email')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('email')?.hasError('email')">
            Formato de email inválido
          </div>
        </div>
      </div>

      <!-- Nationality -->
      <div class="input-wrapper w-full">
        <label for="nationality" class="self-start ms-2">Naturalidade</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="nationality"
          placeholder=""
          name="nationality"
          formControlName="nationality"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('nationality')?.touched ||
            newPatientForm.get('nationality')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('nationality')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- Emergency Contact -->
      <div class="input-wapper w-full">
        <label for="emergencyContact" class="self-start ms-2"
          >Contato de emergência</label
        >
        <input
        type="text"
        class="self-start w-11/12 p-1 rounded-md block"
        id="emergencyContact"
        placeholder="(99) 99999-9999"
        mask="(00) 00000-0000"
        name="emergencyContact"
        [dropSpecialCharacters]="false"
        formControlName="emergencyContact"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('emergencyContact')?.touched ||
            newPatientForm.get('emergencyContact')?.dirty
          "
        >
          <div
            *ngIf="newPatientForm.get('emergencyContact')?.hasError('required')"
          >
            Campo obrigatório
          </div>
          <div
            *ngIf="newPatientForm.get('emergencyContact')?.hasError('pattern')"
          >
            Formato inválido
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-between items-center showLeft">
      <!-- Allergies -->
      <div class="input-wrapper w-full">
        <label for="allergies" class="self-start ms-2">Lista de alergias</label>
        <textarea
          type=""
          class="self-start w-11/12 p-1 rounded-md block"
          id="allergies"
          placeholder=""
          name="allergies"
          formControlName="allergies"
        ></textarea>
      </div>

      <!-- SpecificCare -->
      <div class="input-wrapper w-full">
        <label for="specificCare" class="self-start ms-2"
          >Lista de cuidados específicos</label
        >
        <textarea
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="specificCare"
          placeholder=""
          name="specificCare"
          formControlName="specificCare"
        ></textarea>
      </div>

      <!-- Insurance -->
      <div class="input-wrapper w-full">
        <label for="insurance" class="self-start ms-2">Convênio</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="insurance"
          placeholder=""
          name="insurance"
          formControlName="insurance"
        />
      </div>

      <!-- InsuranceNumber -->
      <div class="input-wrapper w-full">
        <label for="insuranceNumber" class="self-start ms-2"
          >Número do convênio</label
        >
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="insuranceNumber"
          placeholder=""
          name="insuranceNumber"
          formControlName="insuranceNumber"
        />
      </div>

      <!-- InsuranceValidity -->
      <div class="input-wrapper w-full">
        <label for="insuranceValidity" class="self-start ms-2"
          >Validade do convênio</label
        >
        <input
        type="date"
        class="self-start w-11/12 p-1 rounded-md block"
        id="insuranceValidity"
        placeholder="dd/mm/aaaa"
        name="insuranceValidity"
        formControlName="insuranceValidity"
        />
      </div>

      <!-- CEP -->
      <div class="input-wrapper w-full">
        <label for="cep" class="self-start ms-2">Cep</label>
        <input
          type="text"
          name="cep"
          class="self-start w-11/12 p-1 rounded-md block"
          #cep
          formControlName="cep"
          mask="00000-000"
          (blur)="consultCEP(cep.value, f.value)"
          [dropSpecialCharacters]="false"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('cep')?.touched ||
            newPatientForm.get('cep')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('cep')?.hasError('required')">
            Campo obrigatório
          </div>
          <div *ngIf="newPatientForm.get('cep')?.hasError('pattern')">
            Formato inválido
          </div>
        </div>
      </div>

      <!-- Street -->
      <div class="input-wrapper w-full">
        <label for="street" class="self-start ms-2">Rua</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="street"
          placeholder=""
          name="street"
          formControlName="street"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('street')?.touched ||
            newPatientForm.get('street')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('street')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- Number -->
      <div class="input-wrapper w-full">
        <label for="number" class="self-start ms-2">Número</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="number"
          placeholder=""
          name="number"
          formControlName="number"
        />
      </div>

      <!-- Complement -->
      <div class="input-wrapper w-full">
        <label for="complement" class="self-start ms-2">Complemento</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="complement"
          placeholder=""
          name="complement"
          formControlName="complement"
        />
      </div>

      <!-- District -->
      <div class="input-wrapper w-full">
        <label for="district" class="self-start ms-2">Bairro</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="district"
          placeholder=""
          name="district"
          formControlName="district"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('district')?.touched ||
            newPatientForm.get('district')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('district')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- City -->
      <div class="input-wrapper w-full">
        <label for="city" class="self-start ms-2">Cidade</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="city"
          placeholder=""
          name="city"
          formControlName="city"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('city')?.touched ||
            newPatientForm.get('city')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('city')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- State -->
      <div class="input-wrapper w-full">
        <label for="state" class="self-start ms-2">Estado</label>
        <input
          type="text"
          class="self-start w-11/12 p-1 rounded-md block"
          id="state"
          placeholder=""
          name="state"
          formControlName="state"
        />
        <div
          class="validation"
          *ngIf="
            newPatientForm.get('state')?.touched ||
            newPatientForm.get('state')?.dirty
          "
        >
          <div *ngIf="newPatientForm.get('state')?.hasError('required')">
            Campo obrigatório
          </div>
        </div>
      </div>

      <!-- Status -->
      <div class="input-wrapper w-full">
        <label for="status" class="self-start ms-2">Status do sistema: </label><br>
        <input
          type="radio"
          class=""
          id="statusTrue"
          placeholder=""
          name="status"
          value="true"
          formControlName="status"
        /><span class="me-10">Válido</span>
        <input
          type="radio"
          class=""
          id="statusFalse"
          placeholder=""
          name="status"
          value="false"
          formControlName="status"
        /><span>Inválido</span>
      </div>
    </div>

    <button
      type="submit"
      class="text-white w-72 col-span-2 mx-auto my-16 p-2 bg-zinc-600 rounded-md"
      >
      <!-- [disabled]="newPatientForm.invalid" -->
      Cadastrar paciente
    </button>
  </form>

  <button
    type="button"
    class="text-white w-72 col-span-2 mx-auto my-16 p-2 bg-zinc-600 rounded-md"
    routerLink="/labmedical/patients"
  >
    Voltar
  </button>
</div>
