<div class="py-10 showUp">
    <div>
      <input
        id="filterPacients"
        class="ms-7 m-3 px-1 w-2/5 rounded shadow-xl"
        type="text"
        placeholder="Buscar um paciente..."
      />
    </div>
    <div id="dashboard-cards-pacients" class="flex flex-wrap mx-4 mt-2 mb-6 gap-x-5 gap-y-8">
      <!-- usar *ngFor -->
      <div
        class="card-pacient flex flex-col justify-between py-5 px-5 w-[200px] w-[200px] gap-1 bg-neutral-300/80 shadow-lg shadow-black/30 rounded-md text-center m-2 break-words"
        *ngFor="let pacient of patients"
      >
        <i class="flex justify-center pb-5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        </i>
        <div class="text-lg">{{ pacient.name }}</div>
        <div>{{ pacient.age }} anos</div>
        <div class="text-[11px]">{{ pacient.phone }}</div>
        <div class="text-[11px]">{{ pacient.email }}</div>
        <div>{{ pacient.healthplan}}</div>
        <button class="text-white w-2/3 py-2 mt-3 self-center bg-zinc-600 rounded-md">Saber mais</button>
      </div>
    </div>
  </div>