<section
  class="register-page h-screen flex flex-row items-center justify-center"
>
  <div
    class="h-screen w-full flex flex-row items-center justify-center shadow-2xl shadow-stone-700 rounded-3xl"
  >
    <div class="bg-zinc-800 w-2/5 h-full">
      <div class="search-bar">
        <input
          #searchInput
          class="w-3/4 mx-7 my-3 px-3 py-1 w-2/5 rounded shadow-xl text-black"
          type="text"
          placeholder="Search Patients"
          (input)="searchPatients(searchInput.value)"
        />

        <ul
          *ngIf="showSearchResults"
          class="bg-white shadow-md rounded-lg p-2 mt-2"
        >
          <li
            *ngFor="let patient of searchResults"
            (click)="assignPatient(patient)"
            class="p-2 hover:bg-gray-100 cursor-pointer"
          >
            {{ patient.name }} - {{ patient.email }}
          </li>
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-around w-3/5 h-full ps-5 bg-zinc-400"
    >
      <div class="w-3/4 text-white">
        <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
          <!-- Nome do Exames -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within:last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Nome do Exame:</span
              >
              <input
                class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3"
                type="text"
                name="examName"
                id="examName"
                formControlName="examName"
                placeholder="Digite o nome do exame"
              />
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('examName')?.touched ||
                examForm.get('examName')?.dirty
              "
            >
              <div *ngIf="examForm.get('examName')?.hasError('required')">
                Campo obrigatório
              </div>
              <div *ngIf="examForm.get('examName')?.hasError('minlength')">
                Mínimo de 8 caracteres
              </div>
              <div *ngIf="examForm.get('examName')?.hasError('maxlength')">
                Máximo de 64 caracteres
              </div>
            </div>
          </div>

          <!-- Data do Exame -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within-last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Data:</span
              >
              <div class="input-with-icon">
                <input
                  class="ms-2 w-full h-full bg-transparent outline-none"
                  type="date"
                  name="examDate"
                  id="examDate"
                  formControlName="examDate"
                  [value]="getCurrentDate()"
                  [disabled]="isEditMode"
                />
                <span class="icon calendar-icon">&#128197;</span>
              </div>
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('examDate')?.touched ||
                examForm.get('examDate')?.dirty
              "
            >
              <div *ngIf="examForm.get('examDate')?.hasError('required')">
                Data é obrigatória.
              </div>
            </div>
          </div>

          <!-- Horário da Exame -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within-last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Horário:</span
              >
              <div class="input-with-icon">
                <input
                  class="ms-2 w-full h-full bg-transparent outline-none"
                  type="time"
                  name="examTime"
                  id="examTime"
                  formControlName="examTime"
                  [value]="getCurrentTime()"
                  [disabled]="isEditMode"
                />
                <span class="icon clock-icon">&#9201;</span>
              </div>
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('examTime')?.touched ||
                examForm.get('examTime')?.dirty
              "
            >
              <div *ngIf="examForm.get('examTime')?.hasError('required')">
                Horário é obrigatório.
              </div>
            </div>
          </div>

          <!-- Tipo do Exame -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within:last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Tipo do Exame:</span
              >
              <input
                class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3"
                type="text"
                name="examType"
                id="examType"
                formControlName="examType"
                placeholder="Digite o tipo do exame"
              />
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('examType')?.touched ||
                examForm.get('examType')?.dirty
              "
            >
              <div *ngIf="examForm.get('examType')?.hasError('required')">
                Campo obrigatório
              </div>
              <div *ngIf="examForm.get('examType')?.hasError('minlength')">
                Mínimo de 4 caracteres
              </div>
              <div *ngIf="examForm.get('examType')?.hasError('maxlength')">
                Máximo de 32 caracteres
              </div>
            </div>
          </div>

          <!-- Laboratório -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within:last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Laboratório:</span
              >
              <input
                class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3"
                type="text"
                name="laboratory"
                id="laboratory"
                formControlName="laboratory"
                placeholder="Digite o Laboratório"
              />
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('laboratory')?.touched ||
                examForm.get('laboratory')?.dirty
              "
            >
              <div *ngIf="examForm.get('laboratory')?.hasError('required')">
                Campo obrigatório
              </div>
              <div *ngIf="examForm.get('laboratory')?.hasError('minlength')">
                Mínimo de 4 caracteres
              </div>
              <div *ngIf="examForm.get('laboratory')?.hasError('maxlength')">
                Máximo de 32 caracteres
              </div>
            </div>
          </div>

          <!-- URL do Documento -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within:last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Documento (url):</span
              >
              <input
                class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3"
                type="text"
                name="documentUrl"
                id="documentUrl"
                formControlName="documentUrl"
                placeholder="Inclua a URL do documento"
              />
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('documentUrl')?.touched ||
                examForm.get('documentUrl')?.dirty
              "
            >
              <div *ngIf="examForm.get('documentUrl')?.hasError('pattern')">
                Formato inválido
              </div>
            </div>
          </div>

          <!-- Resultados -->
          <div class="input-wrapper">
            <label
              class="hover:bg-zinc-800 group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover-bg-zinc-800 focus-within:last:hidden transition-all duration-500"
            >
              <span
                class="ms-2 transition-all duration-500 group-focus-within:opacity-0"
                >Resultados:</span
              >
              <input
                class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3"
                type="text"
                name="results"
                id="results"
                formControlName="results"
                placeholder="Digite os resultados"
              />
            </label>
            <div
              class="validation"
              *ngIf="
                examForm.get('results')?.touched ||
                examForm.get('results')?.dirty
              "
            >
              <div *ngIf="examForm.get('results')?.hasError('required')">
                Campo obrigatório
              </div>
              <div *ngIf="examForm.get('results')?.hasError('minlength')">
                Mínimo de 16 caracteres
              </div>
              <div *ngIf="examForm.get('results')?.hasError('maxlength')">
                Máximo de 1024 caracteres
              </div>
            </div>
          </div>

          <!-- Botões de Ação -->
          <div class="button-wrapper mt-4 overflow-show">
            <button
              class="hover:bg-zinc-800 bg-zinc-700 w-1/3 h-9 self-center rounded-md hover-bg-zinc-800"
              (click)="editForm()"
              [disabled]="isEditMode"
            >
              Editar
            </button>
            <button
              class="hover:bg-zinc-800 bg-zinc-700 w-1/3 h-9 self-center rounded-md hover-bg-zinc-800"
              (click)="deleteForm()"
              [disabled]="isEditMode"
            >
              Deletar
            </button>
            <button
              class="hover:bg-zinc-800 bg-zinc-700 w-1/3 h-9 self-center rounded-md hover-bg-zinc-800"
              type="submit"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
