<div class="container mx-auto mt-20 mb-20">
  <div class="max-w-md mx-auto bg-zinc-400 rounded-lg shadow-stone-700">
    <div class="p-4">
      <h2 class="text-2xl font-bold text-stone-100 mb-2">Cadastro de Novo Usuário</h2>
      <p class="text-stone-100 text-sm">
        Para cadastrar um novo usuário, entre em contato com o administrador do sistema.
        Infelizmente, o cadastro de novos usuários não está disponível no momento.
      </p>
      <p class="text-stone-100 text-sm mt-2">
        Você pode entrar em contato com o administrador através do seguinte email:
        <a href="mailto:admin@exemplo.com" class="text-amber-200 hover:underline">admin@exemplo.com</a>
      </p>
      <div class="mt-4">
        <a routerLink="/login" class="text-amber-200 hover:underline">Voltar para a página de login</a>
      </div>
    </div>
  </div>
</div>





