@keyframes showDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
  }
@keyframes showUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    65% {
      opacity: 0;
    }
  
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
  }

.showDown {
    animation-name: showDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; 
}

.showUp {
    animation-name: showUp;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out; 
}
