<div>
    <div></div>
    <h3>Seja bem vindo(a)</h3>
    <div></div>
  
    <div></div>
    <div>
  
      <div>
        <form>
          <div >
            <label>E-mail</label>
            <input
              type="email"
              placeholder="Digite seu email"
              name="email"
              formControlName="email"
            />
          </div>
          <div>
            <label for="">Senha</label>
            <input
              type="password"
              placeholder="Digite sua senha"
              name="senha"
              formControlName="senha"
            />
          </div>
          <button
            type="submit"
          >
            Entrar
          </button>
        </form>
      </div>
    </div>
    <div></div>
    <div>
      <p>Ainda não possui uma conta?</p>
      <button>Cadastrar</button>
    </div>
  </div>