.grid-container{
    display: grid; 
  grid-template-columns: auto 1fr 1fr; 
  grid-template-rows: 0.10fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
}
  