<section class="register-page h-screen flex flex-row items-center justify-center">
    <div class="h-screen w-full flex flex-row items-center justify-center shadow-2xl shadow-stone-700  rounded-3xl">
      <div class="bg-zinc-800 w-2/5 h-full"> <div class="search-bar">
        <input
          #searchInput
          class="w-3/4 mx-7 my-3 px-3 py-1 w-2/5 rounded shadow-xl text-black"
          type="text"
          placeholder="Search Patients"
          (input)="searchPatients(searchInput.value)"
        />
        <ul *ngIf="showSearchResults" class="bg-white shadow-md rounded-lg p-2 mt-2 ">
          <li *ngFor="let patient of searchResults" (click)="assignPatient(patient)" class="p-2 hover:bg-gray-100 cursor-pointer ">
            {{ patient.name }} - {{ patient.email }}
          </li>
        </ul>
      </div>
    </div>
        
      <div class="flex flex-col items-center justify-around w-3/5 h-full ps-5 bg-zinc-400">
        <div class="w-3/4 text-white">
         
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <!-- Motivo da consulta -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within:last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Motivo da consulta:</span>
              <input class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3" type="text" name="appointmentReason" id="appointmentReason" formControlName="appointmentReason" placeholder="Digite o motivo da consulta" />
            </label>
            <div class="validation" *ngIf="registerForm.get('appointmentReason')?.touched || registerForm.get('appointmentReason')?.dirty">
              <div *ngIf="registerForm.get('appointmentReason')?.hasError('required')">Campo obrigatório</div>
              <div *ngIf="registerForm.get('appointmentReason')?.hasError('minlength')">Mínimo de 8 caracteres</div>
              <div *ngIf="registerForm.get('appointmentReason')?.hasError('maxlength')">Máximo de 64 caracteres</div>
            </div>
          </div>

          <!-- Date da Consulta -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Data da Consulta:</span>
              <div class="input-with-icon">
                <input class="ms-2 w-full h-full bg-transparent outline-none" type="date" name="appointmentDate" id="appointmentDate" formControlName="appointmentDate" [value]="getCurrentDate()" [disabled]="isEditMode" />
                <span class="icon calendar-icon">&#128197;</span>
              </div>
            </label>
            <div class="validation" *ngIf="registerForm.get('appointmentDate')?.touched || registerForm.get('appointmentDate')?.dirty">
              <div *ngIf="registerForm.get('appointmentDate')?.hasError('required')">Data da consulta é obrigatória.</div>
            </div>
          </div>

          <!-- Horário da Consulta -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Horário da Consulta:</span>
              <div class="input-with-icon">
                <input class="ms-2 w-full h-full bg-transparent outline-none" type="time" name="appointmentTime" id="appointmentTime" formControlName="appointmentTime" [value]="getCurrentTime()" [disabled]="isEditMode" />
                <span class="icon clock-icon">&#9201;</span>
              </div>
            </label>
            <div class="validation" *ngIf="registerForm.get('appointmentTime')?.touched || registerForm.get('appointmentTime')?.dirty">
              <div *ngIf="registerForm.get('appointmentTime')?.hasError('required')">Horário da consulta é obrigatório.</div>
            </div>
          </div>

          <!-- Descrição do Problema -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Descrição do Problema:</span>
              <textarea class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3" name="problemDescription" id="problemDescription" formControlName="problemDescription"></textarea>
            </label>
            <div class="validation" *ngIf="registerForm.get('problemDescription')?.touched || registerForm.get('problemDescription')?.dirty">
              <div *ngIf="registerForm.get('problemDescription')?.hasError('required')">Descrição do problema é obrigatória.</div>
              <div *ngIf="registerForm.get('problemDescription')?.hasError('minlength')">Mínimo de 16 caracteres</div>
              <div *ngIf="registerForm.get('problemDescription')?.hasError('maxlength')">Máximo de 1024 caracteres</div>
            </div>
          </div>

          <!-- Medicação Receitada -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Medicação Receitada:</span>
              <input class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3" type="text" name="prescribedMedication" id="prescribedMedication" formControlName="prescribedMedication" />
            </label>
          </div>

          <!-- Dosagem e Precauções -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Dosagem e Precauções:</span>
              <textarea class="ms-2 w-full h-full bg-transparent outline-none transition-all duration-1000 group-focus-within:-translate-y-3" name="dosageAndPrecautions" id="dosageAndPrecautions" formControlName="dosageAndPrecautions"></textarea>
            </label>
            <div class="validation" *ngIf="registerForm.get('dosageAndPrecautions')?.touched || registerForm.get('dosageAndPrecautions')?.dirty">
              <div *ngIf="registerForm.get('dosageAndPrecautions')?.hasError('required')">Dosagem e precauções são obrigatórias.</div>
              <div *ngIf="registerForm.get('dosageAndPrecautions')?.hasError('minlength')">Mínimo de 16 caracteres</div>
              <div *ngIf="registerForm.get('dosageAndPrecautions')?.hasError('maxlength')">Máximo de 256 caracteres</div>
            </div>
          </div>

          <!-- Status do Sistema -->
          <div class="input-wrapper">
            <label class="group mb-3 flex flex-col justify-evenly items-start w-full overflow-hidden h-14 bg-zinc-500 rounded-md hover:bg-zinc-800 focus-within-last:hidden transition-all duration-500">
              <span class="ms-2 transition-all duration-500 group-focus-within:opacity-0">Status do Sistema:</span>
              <select class="w-11/12 mx-auto bg-zinc-800 hover-bg-zinc-500 rounded-sm" name="systemStatus" id="systemStatus" formControlName="systemStatus">
                <option value="true">Ativo</option>
                <option value="false">Inativo</option>
              </select>
            </label>
            <div class="validation" *ngIf="registerForm.get('systemStatus')?.touched || registerForm.get('systemStatus')?.dirty">
              <div *ngIf="registerForm.get('systemStatus')?.hasError('required')">Status do sistema é obrigatório.</div>
            </div>
          </div>

          <!-- Botões de Ação -->
          <div class="button-wrapper mt-4 overflow-show">
            <button class="bg-zinc-700 w-1/3 h-9 self-center rounded-md hover:bg-zinc-800" (click)="editForm()" [disabled]="isEditMode">Editar</button>
            <button class="bg-zinc-700 w-1/3 h-9 self-center rounded-md hover:bg-zinc-800" (click)="deleteForm()" [disabled]="isEditMode">Deletar</button>
            <button class="bg-zinc-700 w-1/3 h-9 self-center rounded-md hover:bg-zinc-800" type="submit">Registrar</button>
          </div>

          </form>
        </div>
      </div>
    </div>
</section>
  