/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400;500;600;700&display=swap');
*{
    font-family: 'Sen', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 15px #2c2c2ccc;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

::-webkit-scrollbar-thumb {
  background: #414141cc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1f19c2;
}

