/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    border: 1px rgb(105, 105, 105) solid transparent;
  }